@import "../../../assets/scss/index";
@import "../InformationCenter";

.LocationsOfInterest {
  @include InformationCenterPage;

  &>.content {
    .Locations {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 1000px;
      margin-bottom: 20px;

      .Map {
        margin-top: 20px;
        position: relative;

        .react-transform-wrapper {
          background-color: $gray-pale;
          height: 750px;
        }

        .tools {
          display: flex;
          flex-direction: column;
          position: absolute;
          gap: 5px;
          right: 10px;
          bottom: 10px;
          z-index: 99;

          .button {
            width: 40px;
            height: 40px;
            padding: 10px;
          }
        }
      }

      .Title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin: 20px 0 10px -30px;

        h2 {
          margin: 0;
        }
      }

      .Description {
        margin-bottom: 20px;
      }
    }
  }
}