@import "../../../assets/scss/index";

.NewFeatureCard.ui.card {
  width: 100%;

  .FeatureContainer {
    &>p {
      font-size: 1.2rem;
      margin: 10px 0;
    }

    button.hover-animation {
      .label {
        width: 75px;
      }

      &:hover:not(:disabled) {
        .label {
          left: calc((100% - 100px) / 2);
        }

        .IconContainer {
          right: calc((100% - 100px) / 2);
        }
      }
    }
  }
}