.AssetCard.ui.card {
  width: 640px;

  .extra.content {
    display: flex;
    justify-content: space-between;

    .Details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 85%;

      .Notes {
        width: 100%;
        text-align: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: darken($gray-pale, 20%);
      }
    }

    &::after {
      display: none;
    }

    .Tags {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 5px;
    }

    .Actions {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      width: 15%;

      .check.icon {
        color: $green;
      }
    }
  }

  .EmbedContainer,
  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 640px;
    height: 360px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    iframe {
      width: 640px;
      height: 360px;
    }

    img {
      width: auto;
      height: auto;
      max-width: 640px;
      max-height: 360px;
    }
  }
}