.Filters {
  margin-bottom: 20px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .input {
      width: 350px;
    }

    .Tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .label {
        cursor: pointer;

        &:hover {
          background-color: $gray-pale;

          &.selected {
            background-color: $primary-colour-dark;
          }
        }

        &.selected {
          background-color: $primary-colour;
        }
      }
    }
  }
}