.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.interactive {
    cursor: pointer;
  }

  .LogoIcon {
    &.small {
      width: 40px;
    }

    &.medium {
      width: 60px;
    }

    &.large {
      width: 100px;
    }
  }

  .LogoText {
    &.small {
      width: 60px;
    }

    &.medium {
      width: 100px;
    }

    &.large {
      width: 175px;
    }
  }
}