.ui.sidebar {
  display: flex !important;
  background-color: $sidebar-background-colour !important;
  width: auto !important;

  .CollapseContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;

    .button.Collapse {
      border-radius: 50%;
      color: $text-colour-contrast !important;

      &:hover {
        color: $primary-colour !important;
      }
    }
  }

  .SidebarContent {
    width: $sidebar-width !important;
    overflow: visible !important;
    position: relative;
    transition: width 0.2s ease-in-out !important;
    white-space: nowrap;
    flex: 1 1 0;

    .SidebarItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin: 0;
      height: 50px;
      color: $text-colour-contrast;
      cursor: pointer;

      &:hover {
        background-color: $sidebar-background-colour-light;
      }

      i,
      img {
        line-height: 1em;
        margin-right: 10px;
      }

      &.active {
        background-color: $sidebar-background-colour-light;
        font-weight: bold;
        color: $primary-colour;

        .SidebarItemDetail {
          color: $primary-colour;
        }
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      .Label {
        display: flex;
        align-items: center;
      }

      .SidebarItemDetail {
        color: $text-colour-contrast;
      }
    }

    .Divider {
      height: 1px;
      background-color: $sidebar-background-colour-light;
      margin: 5px 0;
    }

    .BounceSideways {
      animation: bounce-sideways 0.7s ease;
    }

    @keyframes bounce-sideways {

      0%,
      50%,
      100% {
        transform: translateX(0);
      }

      30% {
        transform: translateX(-15px);
      }

      80% {
        transform: translateX(-5px);
      }
    }

    .Header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 150px;
      padding: 0 10px 0 10px;

      .Logo {
        width: 150px;
        margin-bottom: 10px;
      }
    }

    .Footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }

  &.collapsed {
    .SidebarContent {
      width: $sidebar-width-collapsed !important;

      .Header {
        height: 85px;
        padding: 0 10px 10px 10px;

        .Logo {
          width: 60px;
          margin-bottom: 0;
        }
      }

      .SidebarItem {
        justify-content: center;

        i,
        img {
          font-size: 1.2rem;
          margin: 0;
        }

        span {
          display: none;
        }

        .SidebarItemDetail {
          display: none;
        }
      }

      .button.Collapse {
        right: 0px;
        top: 0px;
      }

      &:hover {
        width: $sidebar-width !important;

        .SidebarItem {
          justify-content: space-between;

          i,
          img {
            font-size: 1rem;
            margin-right: 10px;
          }

          span {
            display: initial;
          }

          .SidebarItemDetail {
            display: initial;
          }
        }
      }
    }
  }


  @media only screen and (max-width: 1600px) {
    .SidebarContent {
      width: $sidebar-width-collapsed !important;

      .Header {
        height: 85px;
        padding: 0 10px 10px 10px;

        .Logo {
          width: 60px !important;
          margin-bottom: 0 !important;
        }
      }

      .SidebarItem {
        justify-content: center !important;

        i,
        img {
          font-size: 1.2rem;
          margin: 0 !important;
        }

        span {
          display: none;
        }

        .SidebarItemDetail {
          display: none;
        }
      }

      &:hover {
        width: $sidebar-width !important;

        .SidebarItem {
          justify-content: space-between !important;

          i,
          img {
            font-size: 1rem;
            margin-right: 10px !important;
          }

          span {
            display: initial;
          }

          .SidebarItemDetail {
            display: initial;
          }
        }
      }
    }

    .button.Collapse {
      display: none;
    }
  }
}