.ui.sidebar {
  width: $sidebar-width !important;
  background-color: $sidebar-background-colour !important;
  overflow: visible !important;
  position: relative;
  transition: width 0.2s ease-in-out !important;
  white-space: nowrap;

  &.collapsed {
    width: $sidebar-width-collapsed !important;

    .Header {
      height: 85px;
      padding: 30px 10px 20px 10px;

      .Logo {
        width: 50px;
      }
    }

    .SidebarItem {
      justify-content: center;

      i,
      img {
        font-size: 1.2rem;
        margin: 0;
      }

      span {
        display: none;
      }
    }

    .button.Collapse {
      right: 0px;
      top: 0px;
    }
  }

  @media only screen and (max-width: 1600px) {
    width: $sidebar-width-collapsed !important;

    .Header {
      height: 85px;
      padding: 30px 10px 20px 10px;

      .Logo {
        width: 50px !important;
      }
    }

    .SidebarItem {
      justify-content: center !important;

      i,
      img {
        font-size: 1.2rem;
        margin: 0 !important;
      }

      span {
        display: none;
      }
    }

    .button.Collapse {
      display: none;
    }
  }

  .SidebarItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
    height: 50px;
    color: $text-colour-contrast;
    cursor: pointer;

    &:hover {
      background-color: $sidebar-background-colour-light;
    }

    i,
    img {
      line-height: 1em;
      margin-right: 10px;
    }

    &.active {
      background-color: $sidebar-background-colour-light;
      font-weight: bold;
      color: $primary-colour;
    }

    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .Label {
      display: flex;
      align-items: center;
    }
  }

  .Divider {
    height: 1px;
    background-color: $sidebar-background-colour-light;
    margin: 5px 0;
  }

  .BounceSideways {
    animation: bounce-sideways 0.7s ease;
  }

  @keyframes bounce-sideways {

    0%,
    50%,
    100% {
      transform: translateX(0);
    }

    30% {
      transform: translateX(-15px);
    }

    80% {
      transform: translateX(-5px);
    }
  }

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    .Logo {
      width: 100px;
    }
  }

  .Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .button.Collapse {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    color: $text-colour-contrast !important;

    &:hover {
      color: $primary-colour !important;
    }
  }
}