.Header {
  display: flex;
  justify-content: center;
  align-items: center;

  .HeaderDecoration {
    width: 100px;
    height: auto;

    &.right {
      transform: scaleX(-1);
    }
  }

  .ui.header {
    font-family: CustomFont !important;
    font-size: 2.2rem !important;
    font-weight: 100;
    color: $text-colour !important;
    margin: 0;
    padding: 20px 0 10px 0;

    &.contrast {
      color: $text-colour-contrast !important;
    }
  }

  .Kanji {
    font-size: 2rem;
    font-weight: 500;
  }
}

p,
span {
  margin: 0;
  color: $text-colour;

  &.primary {
    color: $primary-colour;
  }

  &.contrast {
    color: $text-colour-contrast;
  }

  &.pale {
    color: rgba(black, 0.75) !important;
  }

  &.small {
    font-size: 0.9rem;
    color: darken($gray-pale, 10%);
  }

  &.error,
  &.red {
    color: $red;
  }

  &.green {
    color: $green;
  }

  &.yellow {
    color: $yellow;
  }
}

.quote {
  margin: 0 100px;
}

.poem {
  display: flex;
  justify-content: center;
}