img.AvatarBorder {
  position: absolute;
  height: 110px !important;
  width: 110px !important;
  left: -5px;
  top: -3px;
}

img.HeaderDecoration {
  position: absolute;
  width: 100px;
  height: auto;
  right: 50px;
  bottom: 55px;
}