.JobGuide {
  display: flex;
  flex-direction: column;
  align-items: center;

  &>.content {
    width: 1200px;

    .GuideContent {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 20px 0;

      p {
        margin: 0;
      }

      .Media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        .JewelerImg {
          object-fit: cover;
          width: 500px;
          height: 300px;
        }
      }
    }
  }
}