@import "../../assets/scss/index";

.PublicLore {
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-color: black;

  .content {
    width: 1000px;
    padding: 20px;
    background-color: white;

    &>.Header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .Logo {
        width: 200px;
      }
    }
  }
}