@import "../../../assets/scss/index";

.QuoteCard.ui.card {
  width: 100%;

  &>.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>.header {
      width: 100%;
    }

    .QuoteContainer {
      width: fit-content;
      margin-top: 10px;

      .Quote {
        font-size: 1.5rem;
        margin-bottom: 0;
      }

      .By {
        font-size: 1.2rem;
        text-align: right;
        padding-right: 20px;
      }
    }
  }
}