@import "../../assets/scss/index";

.Inventory {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    .Actions {
      display: flex;
      justify-content: flex-start;
      width: 1100px;

      .ui.form .ui.input {
        width: 300px;
      }
    }
  }

  .InventoryCards {
    width: 1100px;
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;

    .ui.card {
      p.header {
        font-size: 1.4rem;
        margin: 0;
      }

      .total {
        font-weight: 600;
      }

      .inputs {
        display: flex;
        gap: 10px;
      }
    }
  }

  .ui.table {
    width: 1100px !important;
    margin: 0;

    thead {
      tr {
        th {
          &:first-child {
            width: 200px;
          }

          &:not(:first-child) {
            width: 250px;
          }
        }
      }
    }

    thead,
    tbody {
      tr {
        &.CategoryRow {
          font-weight: 600;
          background-color: $primary-colour-light;
          cursor: pointer;

          &:hover {
            background-color: $primary-colour;
          }
        }

        th,
        td {
          padding: 10px !important;

          &.centered {
            text-align: center;
          }
        }
      }
    }
  }

  .InventoryInput {
    display: flex;
    justify-content: center;

    .ui.input input {
      width: 100px;
      border-radius: 5px !important;
      text-align: center;

      &.has-buttons {
        width: 75px;
        border-radius: 0 !important;
      }
    }

    .ui.button {
      &.negative {
        border-radius: 5px 0 0 5px;
      }

      &.positive {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.AddItemModal {
  .ui.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    .Row {
      display: flex;
      gap: 15px;

      &>*:not(.toggle) {
        flex: 1;
      }
    }
  }
}