@import "../../assets/scss/index";

.DriverStrats {
  .content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;

    .Actions {
      display: flex;
      gap: 10px;
    }

    .segments {
      width: 500px;

      .segment {
        font-weight: 600;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          background-color: $gray-pale;
        }
      }
    }

    img {
      width: auto;
      height: 800px;
    }

    .button.hover-animation {
      .label {
        width: 65px;
      }

      &:hover:not(:disabled) {
        .label {
          left: calc((100% - 90px) / 2);
        }

        .IconContainer {
          right: calc((100% - 90px) / 2);
        }
      }
    }
  }
}

.NeighbourghoodGallery,
.DriverStratGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .content {
    width: 1300px;

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 5px 10px 5px;

      .button {
        width: 300px;

        &.hover-animation {
          .label {
            width: 65px;
          }

          &:hover:not(:disabled) {
            .label {
              left: calc((100% - 90px) / 2);
            }

            .IconContainer {
              right: calc((100% - 90px) / 2);
            }
          }
        }
      }
    }
  }
}

.NewStratModal {
  .ui.form .field:not(:first-child) {
    margin-top: 20px;
  }

  .small {
    margin: 10px 0 0 0;
  }
}