@import "../../../assets/scss/index";
@import "../InformationCenter";

.Assets {
  @include InformationCenterPage;

  &>.content {
    .CarouselContainer {
      position: relative;

      .Preview {
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 500px;
          max-height: 625px;
          width: auto;
          height: auto;
        }
      }

      .ui.pointing.label.CopyLabel {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(110%, -220%);
        z-index: 99;
      }
    }
  }
}