@import "../../../assets/scss/index";

.JobsCard.ui.card {
  width: 100%;

  .JobsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .JobSectionHeader {
      margin: 5px 0;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .JobListing {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      padding: 0 25px;

      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        i.star {
          color: $primary-colour;
        }
      }

      .Crew {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 20px;

        p {
          flex-basis: 50%;
          text-align: start;
        }
      }

      .JobLabel,
      .RadioLabel {
        font-size: 1rem;
        font-weight: bold;
      }

      .JobLabel {
        margin-left: 5px;
      }
    }

    .NoJobsLabel {
      text-align: center;
      margin-top: 10px;
    }
  }
}