@import "../../../assets/scss/index";

.WarCard.ui.card {
  width: 100%;

  .content {

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }

    &::after {
      display: none;
    }

    .CurrentWar {
      .Label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1.green {
          color: $green;
        }

        h1.red {
          color: $red;
        }

        h1.yellow {
          color: $yellow;
        }
      }
    }

    .Timers {
      display: flex;
      justify-content: space-evenly;
      margin: 10px 0 20px 0;

      h2 {
        margin: 0;

        &.red {
          color: $red;
        }

        &.green {
          color: $green;
        }
      }

      h3 {
        font-weight: normal;
        margin: 0;
      }

      .OurTimer,
      .TheirTimer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .Rules {
      margin-top: 10px;
      text-align: start;

      ul {
        padding: 0 0 0 5px;
        margin: 0;

        li {
          margin-bottom: 5px;
          text-align: start;
          list-style-position: inside;
        }
      }
    }
  }
}