@import "../../../assets/scss/index";

.RecentStratCard.ui.card {
  width: 100%;

  .embeds {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .EmbedContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      width: 640px;
      height: 360px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      iframe {
        width: 640px;
        height: 360px;
      }

      img {
        width: auto;
        height: auto;
        max-width: 640px;
        max-height: 360px;
      }
    }
  }
}