.AddEventModal {
  .ui.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    .Row {
      display: flex;
      gap: 15px;

      &>*:not(.toggle) {
        flex: 1;
      }
    }
  }
}