@import "../../../assets/scss/index";

.UnchainedCard.ui.card {
  width: 100%;

  .TextContainer {

    p,
    li {
      margin-top: 10px;
      font-size: 1.1rem;
      text-align: justify;
    }
  }
}