.GuardiansListing,
.SpiritsListing,
.CeremoniesListing {
  margin-bottom: 20px;

  .Guardian,
  .Spirit {
    .Description {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 10px 0;

      img {
        border: 1px solid black;
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      p {
        text-align: justify;
      }
    }
  }

  .Ceremony {
    margin-bottom: 20px;

    .Description {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    p {
      margin-bottom: 0;
      text-align: justify;
    }
  }
}

.LoreMenu {
  .ui.menu {
    display: flex;
    justify-content: center;
    gap: 20px;

    .item {
      display: flex;
      justify-content: center;
      width: 100px;
    }

    &::after {
      display: none;
    }
  }
}