@import "../../assets/scss/index";

.GroupListing,
.GroupMembers,
.MembersListing {
  &>.content {
    display: flex;
    flex-direction: column;

    .actions {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px 0 0;

      .Row {
        display: flex;
        justify-content: space-between;

        .hover-animation {
          width: 300px;

          .label {
            width: 85px;
          }

          &:hover:not(:disabled) {
            .label {
              left: calc((100% - 110px) / 2);
            }

            .IconContainer {
              right: calc((100% - 110px) / 2);
            }
          }
        }
      }

      .Buttons {
        display: flex;
        gap: 10px;

        .hover-animation {
          width: 300px;

          .label {
            width: 120px;
          }

          &:hover:not(:disabled) {
            .label {
              left: calc((100% - 145px) / 2);
            }

            .IconContainer {
              right: calc((100% - 145px) / 2);
            }
          }
        }

        .hover-animation.positive {
          width: 300px;

          .label {
            width: 75px;
          }

          &:hover:not(:disabled) {
            .label {
              left: calc((100% - 100px) / 2);
            }

            .IconContainer {
              right: calc((100% - 100px) / 2);
            }
          }
        }
      }
    }

    .CardsContainer {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      margin: 10px 0;
    }
  }
}

.MembersListing>.content .actions {
  &>p {
    margin-bottom: 20px;
  }

  flex-direction: column;
}

.GroupDetails,
.MemberDetails {
  .actions {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

.GroupInformation,
.MemberInformation {
  display: flex;
  justify-content: center;

  .GroupInformationCard.ui.card,
  .MemberInformationCard.ui.card {
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .Row {
      display: flex;
      justify-content: center;
      gap: 20px;

      .field {
        margin-bottom: 20px !important;
        flex: 1 1 0;
      }

      .field-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 1 1 0;
      }

      .checkbox {
        margin-bottom: 20px !important;
      }

      &.large .field {
        flex-basis: 100%;
      }
    }
  }

  .GroupInformationCard.ui.card {
    width: 75%;
  }

  .MemberInformationCard.ui.card {
    width: 50%;
  }
}

.GroupCard.ui.card,
.MemberCard.ui.card {
  width: calc(25% - 10px);
  min-width: 300px;
  min-height: 170px;

  .content {
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: center;
      gap: 5px;

      p {
        margin-bottom: 0;
      }

      &.negative p,
      &.negative i {
        color: $red;
      }
    }

    .Details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex: 1 1 0;

      .DetailsRow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 5px 5px 0;

        .Detail {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-basis: 50%;

          &.centered {
            justify-content: center;
            flex-basis: content;
          }

          &.large {
            font-size: 1.1rem;
          }

          i {
            margin-right: 5px;
            line-height: 1em;
          }

          p {
            text-wrap: wrap;
            text-align: left;
          }
        }

        &.large .Detail {
          align-items: flex-start;
          flex-basis: 100%;
          max-height: 50px;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }

          i {
            line-height: 1.5em;
          }
        }
      }
    }
  }
}

.GroupIntel,
.MemberIntel {
  position: relative;

  .button.trigger {
    position: absolute;
    top: -60px;
    right: 0;
    width: 250px;

    &.hover-animation {
      .label {
        width: 65px;
      }

      &:hover:not(:disabled) {
        .label {
          left: calc((100% - 90px) / 2);
        }

        .IconContainer {
          right: calc((100% - 90px) / 2);
        }
      }
    }
  }
}

.NewIntelModal {
  .ui.form .field:not(:first-child) {
    margin-top: 20px;
  }

  .small {
    margin: 10px 0 0 0;
  }
}