@import "../../../assets/scss/index";
@import "../InformationCenter";

.NOMS {
  @include InformationCenterPage;

  &>.content {
    .actions {
      max-width: 1500px;
    }

    iframe {
      height: 700px;
      width: 100%;
      max-width: 1500px;
      margin-top: 20px;
    }
  }
}