@import "../../../assets/scss/index";

.Lore {
  display: flex;
  flex-direction: column;
  align-items: center;

  .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
  }

  .content {
    max-width: 1000px;
  }
}