@import "../../../assets/scss/index";
@import "../InformationCenter";

.Drugs {
  @include InformationCenterPage;

  &>.content {
    .actions {
      max-width: 750px;
    }

    .MainContainer {
      max-width: 750px;
    }

    .ui.table {
      width: 100%;
      margin: 10px 0 0 0;

      th,
      td {
        &.centered {
          text-align: center;
        }
      }
    }
  }
}